# Python â€“ The new generation Language
 

Python designed by Guido van Rossum at CWI has become a widely used general-purpose, high-level programming language.

Prerequisites:

Knowledge of any programming language can be a plus.

# Interpreter and Compiler

We generally write a computer program using a high-level language. A high-level language is one which is understandable by us humans. It contains words and phrases from the English (or other) language. But a computer does not understand high-level language. It only understands program written in 0's and 1's in binary, called the machine code. A program written in high-level language is called a source code. We need to convert the source code into machine code and this is accomplished by compilers and interpreters. Hence, a compiler or an interpreter is a program that converts program written in high-level language into machine code understood by the computer.

The difference between an interpreter and a compiler is given below:

![Interpeter](Untitled.jpg)

# Data Types
Data types are nothing but variables you use to reserve some space in memory. Python variables do not need an
explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a
variable.

In [ ]:
# JAVA or ,C , C++
int a
a =10 #java or c++
String s="python"
s=10 # error

In [1]:
a=101
print (a)
a="python"
print(a)

101
python

In [2]:
a=10.0  # float
print (a)

10.0

In [3]:
s="python"
print (s)

python

In [4]:
s=True
print (s)

True

In [5]:
s=False
print (s)
print(True)

False
True

In [6]:
s= None # case Sensitive
print(s)
s="python"
print(s)

None
python

In [ ]:
x=23
y=8
z=2
a=337
b=88

# RAM
# Garbage collector
# REFERENCE SCHEMENTICS

![Interpeter](Reference.jpg)

#### Assignment Operator
It always works frol Right hand side to Left hand side

In [7]:
x=10
print(x)

10

In [8]:
a=10
a=a+10+30
print (a)

50

In [9]:
a=30
b=10
a=b+20+a+40
print(a)

100

In [10]:
print(a*10)

1000

In [11]:
a=b=c=10 
print(a)
print(b)
print(c)

10
10
10

## Type operator
It returnes the type of a variable

In [12]:
a=100
print(type(a))

<class 'int'>

In [13]:
j=10.00
print (type (j))

<class 'float'>

In [80]:
s="python"
type(s)

str

In [15]:

s1='pyth'
print (type(s1))

<class 'str'>

In [16]:
x= True
print (type(x))
y= False
print (type(y))

<class 'bool'>
<class 'bool'>

In [17]:
k='10'
print (type(k))
print (k)

<class 'str'>
10

In [18]:
a='a123'
type(a)

str

In [19]:
boo2= "False"
print (type(boo2))

<class 'str'>

In [20]:
a123=88
s=a123
print(s)

88

In [21]:
type(None)

NoneType

### ID Operator
Returns the address of a variable

In [22]:
a=10
print (id(a))

140726419667008

In [23]:
b=10
print (id(b))

140726419667008

In [24]:
c=11
print (id(c))

140726419667040

In [25]:
k=10
print (id(k))

140726419667008

In [26]:
a=10
b=10.0
print (id(a))
print (id(b))

140726419667008
2448816952016

## IS Operator
Is operator-- If id is same for 2 variable it will return the true othewise false

In [27]:
a=10
print (id(a))
b=10
print (id(b))
print (a is b)

140726419667008
140726419667008
True

In [28]:
a=10
b=10.0
print (id(b))
print (a is b)

2448816952016
False

In [29]:
a=10000
b=a
print (id(a))
print (id(b))

2448816955184
2448816955184

In [30]:
i=10
print (id(i))
j=11
print (id(j))
print (i is j)

140726419667008
140726419667040
False

In [32]:
l=10
k=10.0
m='10'
print (l is k)
print (l is m)

False
False

In [31]:
p="python"
q="Python"
r="python"
print (p is q)
print (p is r)

False
True

### == Operator
== operator - numeric values are same or not

In [33]:
i=10
j=10
print (i==j)

True

In [34]:
i=10
j=10.0
print ("Comparison operator i==j ",i==j)
print ("IS operator i is j", i is j)

Comparison operator i==j  True
IS operator i is j False

In [35]:
i=10
j=10.1
print (i==j)

False

In [36]:
i='10'
j=10
print (i==j)

False

In [37]:
s1="python"
s2="Python" # case sensitive
s3="Python" # case sensitive
print (s1 == s2)
print (s3 == s2)

False
True

### Swapping values of 2  Variable

a=40
b=50

after execution
a=50
b=40

##### Write a program to swap values of a and b
So after execution of program a should be 20
and b =10

In [38]:
a=10
b=20
c=a # c=10
a=b  # a=20
b=c  # b=10
print(a)
print(b)# this is to explain the swapping

20
10

With out using 3rd variable

In [39]:
a=100
b=200
a=a+b    # a=100+200=300
b=a-b    # b=300-200=100
a=a-b    # a= 300-100=200
print("value of a :",a)
print("Value of b : ",b)

value of a : 200
Value of b :  100

In [ ]:
print(xyx)
xyx=10

### Comma operator

In [40]:
print("python learning")

python learning

In [41]:
a=100
print("Value of a is  ",a)

Value of a is   100

In [42]:
a,b=10,200
print("value of a ",a)
print ("value of b ",b)

value of a  10
value of b  200

In [43]:
a,b,c=10,20,100
print("value of a ",a)
print ("value of b", b)
print ("value of c", c)

value of a  10
value of b 20
value of c 100

#### Swapping values again

In [44]:
a=10.0
b=33
c=100000
a,b = b,a  # a,b = 33,10.0
print("value of a ",a)
print ("value of b", b)

# a=10
# print(a)

value of a  33
value of b 10.0

## Plus operator
![Interpeter](plusoperator.png)

In [45]:
print (10+20)

30

In [46]:
print (10+20.0)

30.0

In [47]:
print (10.0+20.0)

30.0

In [48]:
print ("Python"+" Scala")

Python Scala

In [49]:
print ("Python"+10)

TypeError: can only concatenate str (not "int") to str

In [50]:
print ("Python"+"10")

Python10

## Multiplication operator
![Interpeter](multiplication.png)

In [51]:
print (10*20)

200

In [52]:
print (10*20.0)

200.0

In [53]:
print (10.0*20.0)

200.0

In [54]:
print ("python "*5)

python python python python python

In [1]:
print (5*"python ")

python python python python python

In [ ]:
a='python'*5
print(a)
# print ('5'*"python")

### Modulus operator %
Gives the reminder
![Interpeter](01_Division.gif)

In [56]:
# print (4%4)
5/4

1.25

In [57]:
5%4

1

In [58]:
10%3

1

In [59]:
3%10   # if dividend is smaller than divisor than dividend will be reminder

3

In [60]:
3333%1000000

3333

### Power **

In [61]:
a=10
b=3
print (a**b)

1000

In [62]:
print (2**-3) #(1/8)

0.125

#### Absolute function
returns absolute value of a number( convert to positive value)
abs(x)

In [63]:
print( abs (+10-30))
print (abs (-10000))
print (abs(10)) 
print (abs(-10+30))

20
10000
10
20

### Formatted Output
* %d for integer
* %s for strings
* %r for raw
* %f for float

In [64]:
st="python"
print ("Directory changed successfully " +st + " to the home directory")

Directory changed successfully python to the home directory

In [65]:
st="python"
st1="java"
print ("String value: %s Integer value is : %d  Float value is : %f" %(st1,10,10.9))

String value: java Integer value is : 10  Float value is : 10.900000

In [66]:
months = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print ("Here are the months: %s" % months)

Here are the months:
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [67]:
months = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print ("Here are the months: %r" % months)
# print ("Here are the months: %s" % months)

Here are the months: '\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug'

In [68]:
a= "python automation"
b=30
print(f'I am here to learn  {a} it takes {b} hours to study ')

I am here to learn  python automation it takes 30 hours to study

In [69]:
val = "a"  # A=65, B=66, C=67....a=97 , b= 98 , c =99
print(f"The ASCII value of {val} is {ord(val)}")

The ASCII value of a is 97

In [70]:
print(f"The ASCII value of * is {ord('*')}")

The ASCII value of * is 42

In [79]:
# print (chr(69))
# print (chr(97))
a= 10
print (chr(10))

In [72]:
print(bin(173) )

0b10101101

In [75]:
a="shankar"
b="shankarshankar"
print(id(a))
print(id(b))

2448817938672
2448817933360

In [76]:
a=100
a

100

In [ ]:
len
del
min
max
sum

### Assignments
1. How a C program compiled
2. C program memory structure
3. How to swap 2 variables( apart from , and +/- operator)
4. Create GIT account

In [ ]:
# print('"'"vfvf"'"')
s="Pop"
s==s[::-1]

In [ ]:
print("hello")

In [ ]:
# Start with 1, discard 2 and move to 3 and discard 4 and move to 5 discard 6 
# . Keep going on till 100 in a circular way until you left with 1 number at last
l=[1,2,3,4,5]
l2=l[::-1]
while len(l2)>1:
    del l2[len(l2)%2::2]
    print(l2)
print(l2)

# while

In [ ]:
import ctypes
my_var = 10
my_var1 = 10
my_var_address = id(my_var)
ctypes.c_long.from_address(my_var_address).value

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
while (s_arr.length==1):
    i=0
    while (i<arr.length):
        s_arr.push(arr[i])
        i+=2
        arr=s_arr.reverse
  s_arr=arr 
print(arr)

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
until s_arr.length == 1
  s_arr = []
  i=0
  while i < arr.length
    s_arr.push(arr[i])
    i+=2
  arr=s_arr.reverse
print (arr)

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
i=0
while i < len(arr):
    s_arr.append(arr[i])
    i+=2
print (s_arr)

In [ ]:
l=[1,2,3]
len(l)