### MySQL
MySQL Workbench browser can be used for the mysql database

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python312\lib\site-packages (8.3.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Python312\python.exe -m pip install --upgrade pip

In [2]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        print(connection)
except Error as e:
    print(e)

# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   passwd="root123"
# )

# # print(mydb)#
# mycursor = mydb.cursor()
# help(mycursor)
# mycursor.execute("CREATE DATABASE mydatabase5")

ModuleNotFoundError: No module named 'mysql'

In [ ]:
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        create_db_query = "CREATE DATABASE online_movie_rating"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

In [ ]:
# You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
   user="root",
  passwd="root123"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

In [ ]:
# # connecting to existing database
#
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
except Error as e:
    print(e)

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
        create_movies_table_query = """
           CREATE TABLE movies(
           id INT AUTO_INCREMENT PRIMARY KEY,
           title VARCHAR(100),
           release_year YEAR(4),
           genre VARCHAR(100),
           collection_in_mil INT
           )
           """
        create_ratings_table_query = """
CREATE TABLE ratings (
    movie_id INT,
    reviewer_id INT,
    rating DECIMAL(2,1),
    FOREIGN KEY(movie_id) REFERENCES movies(id),
    FOREIGN KEY(reviewer_id) REFERENCES reviewers(id),
    PRIMARY KEY(movie_id, reviewer_id)
)
"""
        create_reviewers_table_query = """
CREATE TABLE reviewers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100)
)
"""
        with connection.cursor() as cursor:
            cursor.execute(create_movies_table_query)
            cursor.execute(create_reviewers_table_query)
            cursor.execute(create_ratings_table_query)
            connection.commit()
except Error as e:
    print(e)

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
        show_table_query = "DESCRIBE movies"
        with connection.cursor() as cursor:
            cursor.execute(show_table_query)
            # Fetch rows from last executed query
            result = cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

In [ ]:
# Modifying a Table Schema Using the ALTER Statement
######## do not run this
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
        alter_table_query = """
        ALTER TABLE movies
        MODIFY COLUMN collection_in_mil DECIMAL(4,1)
        """
        show_table_query = "DESCRIBE movies"
        with connection.cursor() as cursor:
            cursor.execute(alter_table_query)
            cursor.execute(show_table_query)
            # Fetch rows from last executed query
            result = cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

In [ ]:
# Deleting Tables Using the DROP Statement
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
        drop_table_query = "DROP TABLE ratings"
        with connection.cursor() as cursor:
            cursor.execute(drop_table_query)
except Error as e:
    print(e)

In [ ]:
# Inserting Records in Tables
# 1 ) Using .execute()


from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
        insert_movies_query = """
INSERT INTO movies (title, release_year, genre, collection_in_mil)
VALUES
    ("Forrest Gump", 1994, "Drama", 330.2),
    ("3 Idiots", 2009, "Drama", 2.4),
    ("Eternal Sunshine of the Spotless Mind", 2004, "Drama", 34.5),
    ("Good Will Hunting", 1997, "Drama", 138.1),
    ("Skyfall", 2012, "Action", 304.6),
    ("Gladiator", 2000, "Action", 188.7),
    ("Black", 2005, "Drama", 3.0),
    ("Titanic", 1997, "Romance", 659.2),
    ("The Shawshank Redemption", 1994, "Drama",28.4),
    ("Udaan", 2010, "Drama", 1.5),
    ("Home Alone", 1990, "Comedy", 286.9),
    ("Casablanca", 1942, "Romance", 1.0),
    ("Avengers: Endgame", 2019, "Action", 858.8),
    ("Night of the Living Dead", 1968, "Horror", 2.5),
    ("The Godfather", 1972, "Crime", 135.6),
    ("Haider", 2014, "Action", 4.2),
    ("Inception", 2010, "Adventure", 293.7),
    ("Evil", 2003, "Horror", 1.3),
    ("Toy Story 4", 2019, "Animation", 434.9),
    ("Air Force One", 1997, "Drama", 138.1),
    ("The Dark Knight", 2008, "Action",535.4),
    ("Bhaag Milkha Bhaag", 2013, "Sport", 4.1),
    ("The Lion King", 1994, "Animation", 423.6),
    ("Pulp Fiction", 1994, "Crime", 108.8),
    ("Kai Po Che", 2013, "Sport", 6.0),
    ("Beasts of No Nation", 2015, "War", 1.4),
    ("Andadhun", 2018, "Thriller", 2.9),
    ("The Silence of the Lambs", 1991, "Crime", 68.2),
    ("Deadpool", 2016, "Action", 363.6),
    ("Drishyam", 2015, "Mystery", 3.0)
"""
        with connection.cursor() as cursor:
            cursor.execute(insert_movies_query)
            connection.commit()
except Error as e:
    print(e)

Using .executemany()
The previous approach is more suitable when the number of records is fairly small and you can write these records directly into the code. But this is rarely true. You’ll often have this data stored in some other file, or the data will be generated by a different script and will need to be added to the MySQL database.

This is where .executemany() comes in handy. It accepts two parameters:

A query that contains placeholders for the records that need to be inserted
A list that contains all records that you wish to insert

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
        insert_reviewers_query = """
INSERT INTO reviewers
(first_name, last_name)
VALUES ( %s, %s )
"""
        reviewers_records = [
            ("Chaitanya", "Baweja"),
            ("Mary", "Cooper"),
            ("John", "Wayne"),
            ("Thomas", "Stoneman"),
            ("Penny", "Hofstadter"),
            ("Mitchell", "Marsh"),
            ("Wyatt", "Skaggs"),
            ("Andre", "Veiga"),
            ("Sheldon", "Cooper"),
            ("Kimbra", "Masters"),
            ("Kat", "Dennings"),
            ("Bruce", "Wayne"),
            ("Domingo", "Cortes"),
            ("Rajesh", "Koothrappali"),
            ("Ben", "Glocker"),
            ("Mahinder", "Dhoni"),
            ("Akbar", "Khan"),
            ("Howard", "Wolowitz"),
            ("Pinkie", "Petit"),
            ("Gurkaran", "Singh"),
            ("Amy", "Farah Fowler"),
            ("Marlon", "Crafford"),
        ]
        with connection.cursor() as cursor:
            cursor.executemany(insert_reviewers_query, reviewers_records)
            connection.commit()
except Error as e:
    print(e)

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
        insert_ratings_query = """
            INSERT INTO ratings
            (rating, movie_id, reviewer_id)
            VALUES ( %s, %s, %s)
            """
        ratings_records = [
            (6.4, 17, 5), (5.6, 19, 1), (6.3, 22, 14), (5.1, 21, 17),
            (5.0, 5, 5), (6.5, 21, 5), (8.5, 30, 13), (9.7, 6, 4),
            (8.5, 24, 12), (9.9, 14, 9), (8.7, 26, 14), (9.9, 6, 10),
            (5.1, 30, 6), (5.4, 18, 16), (6.2, 6, 20), (7.3, 21, 19),
            (8.1, 17, 18), (5.0, 7, 2), (9.8, 23, 3), (8.0, 22, 9),
            (8.5, 11, 13), (5.0, 5, 11), (5.7, 8, 2), (7.6, 25, 19),
            (5.2, 18, 15), (9.7, 13, 3), (5.8, 18, 8), (5.8, 30, 15),
            (8.4, 21, 18), (6.2, 23, 16), (7.0, 10, 18), (9.5, 30, 20),
            (8.9, 3, 19), (6.4, 12, 2), (7.8, 12, 22), (9.9, 15, 13),
            (7.5, 20, 17), (9.0, 25, 6), (8.5, 23, 2), (5.3, 30, 17),
            (6.4, 5, 10), (8.1, 5, 21), (5.7, 22, 1), (6.3, 28, 4),
            (9.8, 13, 1)
        ]
        with connection.cursor() as cursor:
            cursor.executemany(insert_ratings_query, ratings_records)
            connection.commit()
except Error as e:
    print(e)

## Reading Records From the Database

In [ ]:
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user="root",
        passwd="root123",
        database="online_movie_rating",
    ) as connection:
        print(connection)
        select_movies_query = "SELECT * FROM movies LIMIT 5"
        with connection.cursor() as cursor:
            cursor.execute(select_movies_query)
            result = cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

Example
Select only the name and address columns:

In [ ]:
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user="root",
        passwd="root123",
        database="online_movie_rating",
    ) as connection:
        print(connection)
        select_movies_query = "SELECT * FROM movies LIMIT 2,5"
        with connection.cursor() as cursor:
            cursor.execute(select_movies_query)
            result = cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

Filtering Results Using the WHERE Clause

In [ ]:
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user="root",
        passwd="root123",
        database="online_movie_rating",
    ) as connection:
        print(connection)
        select_movies_query = """
            SELECT title, collection_in_mil
            FROM movies
            WHERE collection_in_mil > 300
            ORDER BY collection_in_mil DESC
            """
        with connection.cursor() as cursor:
            cursor.execute(select_movies_query)
            result = cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement:

Example
Delete any record where the address is "Mountain 21":

In [ ]:
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user="root",
        passwd="root123",
        database="online_movie_rating",
    ) as connection:
        print(connection)
        select_movies_query = """
            SELECT CONCAT(title, " (", release_year, ")"),
            collection_in_mil
            FROM movies
            ORDER BY collection_in_mil DESC
            LIMIT 5
        """
        with connection.cursor() as cursor:
            cursor.execute(select_movies_query)
            result = cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

* .fetchone() retrieves either the next row of the result, as a tuple, or None if no more rows are available.
* .fetchmany() retrieves the next set of rows from the result as a list of tuples. It has a size argument, which defaults to 1, that you can use to specify the number of rows you need to fetch. If no more rows are available, then the method returns an empty list.

In [ ]:
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user="root",
        passwd="root123",
        database="online_movie_rating",
    ) as connection:
        print(connection)
        select_movies_query = """
        
        SELECT CONCAT(title, " (", release_year, ")"),
           collection_in_mil
        FROM movies
        ORDER BY collection_in_mil DESC
        """
        with connection.cursor() as cursor:
            cursor.execute(select_movies_query)
            for movie in cursor.fetchmany(size=5):#clean all the remaining results that weren’t read by .fetchmany().
                 print(movie)
            cursor.fetchall()
except Error as e:
    print(e)

## Updating and Deleting Records From the Database

In [ ]:
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user="root",
        passwd="root123",
        database="online_movie_rating",
    ) as connection:
        print(connection)
        update_query = """
            UPDATE
                reviewers
            SET
                last_name = "Cooper"
            WHERE
                first_name = "Amy"
        """
        with connection.cursor() as cursor:
            cursor.execute(update_query)
            connection.commit()
except Error as e:
    print(e)

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

movie_id = input("Enter movie id: ")
reviewer_id = input("Enter reviewer id: ")
new_rating = input("Enter new rating: ")
update_query = """
UPDATE
    ratings
SET
    rating = "%s"
WHERE
    movie_id = "%s" AND reviewer_id = "%s";

SELECT *
FROM ratings
WHERE
    movie_id = "%s" AND reviewer_id = "%s"
""" % (
    new_rating,
    movie_id,
    reviewer_id,
    movie_id,
    reviewer_id,
)

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        with connection.cursor() as cursor:
            for result in cursor.execute(update_query, multi=True):
                if result.with_rows:
                    print(result.fetchall())
            connection.commit()
except Error as e:
    print(e)

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error



try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        select_movies_query = """
        SELECT reviewer_id, movie_id FROM ratings
        WHERE reviewer_id = 2
        """
        with connection.cursor() as cursor:
            cursor.execute(select_movies_query)
            for movie in cursor.fetchall():
                print(movie)
        delete_query = "DELETE FROM ratings WHERE reviewer_id = 2"
        with connection.cursor() as cursor:
            cursor.execute(delete_query)
            connection.commit()
except Error as e:
    print(e)

### SQLITE
SQLite is a relational database management system contained in a C library. In contrast to many other database management systems, SQLite is not a client–server database engine

In [ ]:
import sqlite3
print (dir(sqlite3))

In [ ]:
import sqlite3
# conn = sqlite3.connect('10.123.11.12/test.db')
# print ("Opened database successfully")
# print (type(conn))
print (help(sqlite3))

# conn.close()
# help(sqlite3.connect)

In [ ]:
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute('''CREATE TABLE COMPANY0022
            (ID INT PRIMARY KEY     NOT NULL,
            NAME           TEXT    NOT NULL,
            AGE            INT     NOT NULL,
            ADDRESS        CHAR(50),
            SALARY         REAL);''')


conn.execute("CREATE TABLE COMPANY56\
         (ID INT PRIMARY KEY     NOT NULL,\
         NAME           TEXT    NOT NULL,\
         AGE            INT     NOT NULL,\
         ADDRESS        CHAR(50),\
         SALARY         REAL)");


print ("Table created successfully")
conn.execute("INSERT INTO COMPANY0022 (ID,NAME,AGE,ADDRESS,SALARY) \
       VALUES (1, 'Paul', 32, 'California', 20000.00 )");
conn.close()

The DB-API spec requires that connecting to the database begins a new transaction, by default. 
You must commit to confirm any changes you make, or rollback to discard them.

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db',)
print ("Opened database successfully")
conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (14, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
     VALUES (5, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (6, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (7, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
# print "Records created successfully";
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('my_database1.db')
print ("Opened database successfully")

cursor = conn.execute("SELECT id, name, address, salary from COMPANY56")
# # print type(cursor)
for a in cursor:
   print (a)
   print ("ID = ", a[0])
   print ("NAME = ", a[1])
   print ("ADDRESS = ", a[2])
   print ("SALARY = ", a[3], "\n")

print ("Operation done successfully")
conn.close()

### Oracle database

In [ ]:
# sudo apt-get install cx_Oracle
# pip install cx_Oracle
import cx_Oracle
print dir(cx_Oracle)
ip = '192.168.0.1'
port = 1521
SID = 'YOURSIDHERE'
dsn_tns = cx_Oracle.makedsn(ip, port, SID)
db = cx_Oracle.connect('username', 'password', dsn_tns)
connstr = 'usrname/password@server_IP:1521/orcl'
con = cx_Oracle.connect('pythonhol/welcome@127.0.0.1/orcl')
print con.version
con.close()